![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Customer Analysis Round 1

#### Remember the process:

1. Case Study
2. Get data
3. Cleaning/Wrangling/EDA
4. Processing Data
5. Modeling
6. Validation
7. Reporting

### Abstract

The objective of this data is to understand customer demographics and buying behavior. Later during the week, we will use predictive analytics to analyze the most profitable customers and how they interact. After that, we will take targeted actions to increase profitable customer response, retention, and growth.

For this lab, we will gather the data from 3 _csv_ files that are provided in the `files_for_lab` folder. Use that data and complete the data cleaning tasks as mentioned later in the instructions.

### Instructions

- Read the three files into python as dataframes
- Show the DataFrame's shape.
- Standardize header names.
- Rearrange the columns in the dataframe as needed
- Concatenate the three dataframes
- Which columns are numerical?
- Which columns are categorical?
- Understand the meaning of all columns
- Perform the data cleaning operations mentioned so far in class

  - Delete the column education and the number of open complaints from the dataframe.
  - Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change `dtype` to `numerical` type.
  - Check for duplicate rows in the data and remove if any.
  - Filter out the data for customers who have an income of 0 or less.

In [83]:
import pandas as pd

In [84]:
file1 = pd.read_csv("./files_for_lab/csv_files/file1.csv")
file2 = pd.read_csv("./files_for_lab/csv_files/file2.csv")
file3 = pd.read_csv("./files_for_lab/csv_files/file3.csv")

In [85]:
file1.shape

(4008, 11)

In [86]:
file2.shape

(996, 11)

In [87]:
file3.shape

(7070, 11)

In [88]:
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [89]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [90]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [91]:
import numpy as np

In [92]:
np.all(file1.columns==file2.columns)

False

In [93]:
file1 = file1.rename(columns={'ST':'State', 'GENDER':'Gender'})

In [94]:
file2 = file2.rename(columns={'ST':'State', 'GENDER':'Gender'})

In [95]:
file3 = file3 [['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class']]

In [96]:
file2 = file2 [['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class']]
file1 = file1 [['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class']]

In [97]:
np.all(file1.columns==file2.columns)

True

In [98]:
np.all(file1.columns==file3.columns)

True

In [99]:
data = pd.concat([file1, file2, file3], axis=0)

In [100]:
data

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,198.234764,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,379.200000,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,691.200000,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car

In [101]:
data.dtypes

Customer                      object
State                         object
Gender                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Total Claim Amount           float64
Policy Type                   object
Vehicle Class                 object
dtype: object

In [102]:
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

Las columnas numericas son customer lifetime value, income, monthly premium auto y total claim amount

In [103]:
data=data.drop(['Education', 'Number of Open Complaints'], axis=1)

In [105]:
cols=[]
for colname in data['Customer Lifetime Value']:
    cols.append(colname*100)

In [106]:
data['Customer Lifetime Value']=cols

In [107]:
data['Customer Lifetime Value']=pd.to_numeric(data['Customer Lifetime Value'], errors='coerce')

In [108]:
data

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,NaN,0.0,94.0,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,NaN,48767.0,108.0,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,NaN,0.0,106.0,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,NaN,36357.0,68.0,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,2.340599e+06,71941.0,73.0,198.234764,Personal Auto,Four-Door Car
7066,PK87824,California,F,3.096511e+05,21604.0,79.0,379.200000,Corporate Auto,Four-Door Car
7067,TD14365,California,M,8.163890e+05,0.0,85.0,790.784983,Corporate Auto,Four-Door Car
7068,UP19263,California,M,7.524442e+05,21941.0,96.0,691.200000,Personal Auto,Four-Door Car
7069,Y167826,California,M,2.611837e+05,0.0,77.0,369.600000,Corporate Auto,Two-Door Car

In [109]:
data.dtypes

Customer                    object
State                       object
Gender                      object
Customer Lifetime Value    float64
Income                     float64
Monthly Premium Auto       float64
Total Claim Amount         float64
Policy Type                 object
Vehicle Class               object
dtype: object

In [110]:
filtered=data[data['Income']<=0]

In [111]:
filtered

,Customer,State,Gender,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount,Policy Type,Vehicle Class
0,RB50392,Washington,NaN,NaN,0.0,1000.0,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,NaN,0.0,94.0,1131.464935,Personal Auto,Four-Door Car
3,WW63253,California,M,NaN,0.0,106.0,529.881344,Corporate Auto,SUV
7,CF85061,Arizona,M,NaN,0.0,101.0,363.029680,Corporate Auto,Four-Door Car
10,SX51350,California,M,NaN,0.0,67.0,482.400000,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...
7059,WZ45103,California,F,5.678050e+05,0.0,76.0,364.800000,Personal Auto,Four-Door Car
7061,RX91025,California,M,1.987226e+06,0.0,185.0,1950.725547,Personal Auto,SUV
7062,AC13887,California,M,4.628995e+05,0.0,67.0,482.400000,Corporate Auto,Two-Door Car
7067,TD14365,California,M,8.163890e+05,0.0,85.0,790.784983,Corporate Auto,Four-Door Car
7069,Y167826,California,M,2.611837e+05,0.0,77.0,369.600000,Corporate Auto,Two-Door Car